@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* #FFD63A */

body, html {
    margin: 0;
    height: 100%;
    font-family: "Crafty Girls", cursive;
    background-color: #F75A5A;
    color: #FFD63A;
}

* {
    outline: 2px solid #FFD63A;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 10%;
    color: #FFD63A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.header h1 {
    font-size: 5rem;
    text-shadow: 4px 4px #85193C;
}

.body {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    outline: 2px solid #FFD63A;
}

.row {
    height: 100%;
    display: flex;
}

.box {
    flex: 1 1 auto;
    outline: 2px solid #FFD63A;
}

.footer {
    height: 20%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    display: flex;
}

.selection {
    width: 300px;
    flex: 1;
    align-self: center;
    justify-self: center;
    outline: dotted #FFD63A;
    border-radius: 25px;
}