@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* #FFD63A */

body, html {
    margin: 0;
    height: 100%;
    font-family: "Crafty Girls", cursive;
    background-color: #F75A5A;
    color: #FFD63A;
}
/* 
* {
    outline: 2px solid #FFD63A;
} */

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 10%;
    color: #FFD63A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.header h1 {
    font-size: 5rem;
    text-shadow: 4px 4px #85193C;
}

.body {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px #FFD63A;
}

.row {
    height: 100%;
    display: flex;
}

.box {
    flex: 1 1 auto;
    outline: 2px solid #ffe062;
}

.fadeIn {
    animation: fade-in 0.5s;
}

.footer {
    height: 20%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    display: flex;
}

.selection {
    width: 300px;
    flex: 1;
    align-self: center;
    justify-self: center;
    outline: dotted #FFD63A;
    border-radius: 25px;
}

.selection-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.socials {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

/* Chatgpt generated code to stylize range */

.slider {
    -webkit-appearance: none;
    margin: 20px;
    width: 60%;
    height: 8px;
    background: linear-gradient(to right, yellow 0%, yellow 50%, #ccc 50%, #ccc 100%);
    border-radius: 4px;
    outline: none;
}
  
  /* WebKit */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid yellow;
    border-radius: 50%;
    cursor: pointer;
}

/* From Uiverse.io by TCdesign-dev */ 
#bottone1 {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: none;
    border: 2px solid #FFD63A;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    width: 200px;
    height: 50px;
    color: #ffe062;
    font-size: large;
   }
   
   #bottone1:hover {
    box-shadow: 7px 5px 56px -14px #C3D900;
   }
   
   #bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #C3D900;
   }